.container {

}

.card {
  height: 80vh;
  background: url('/images/marilia.jpg') center no-repeat;
  opacity: 0.6;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5%;
}

.title {
  font-weight: 700;
  font-size: 18px;
}

.description {
  font-size: 18px;
}